.container{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countDown{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.btn{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.countDown p{
  color: red;
}
.succ{
  color: green;
  font-weight: bold;
}